@mixin make-note($margin-bottom, $padding-x, $padding-y, $border-width, $border-radius) {
  position: relative;
  padding: $padding-y $padding-x;
  margin-bottom: $margin-bottom;
  margin-left: $spacer*1.5;
  border: $border-width solid transparent;
  width:80%;
  
  @include border-radius($border-radius);

  font-size: $font-size-footnote;

  h2, h3, h4, h5, h6 {
    font-size: $font-size-footnote;
    font-weight: $font-weight-bold;
    color: inherit;
  }
}

@mixin note-variant($background, $border, $color) {
  border-color: $border;
  color: darken($color, 20%);
  line-height: 1.5em;

  @include gradient-bg($background);
  @include box-shadow(0 0.25rem 0.5rem rgba($border, 0.5));

  hr {
    border-top-color: darken($border, 10%);
  }

  .note-link,
  a {
    //color: darken($color, 40%);
    color: mix($link-hover-color-accent, darken($color, 40%), 33%);
    background: inherit;
    font-weight: bolder;
    text-shadow: 1px 1px 4px rgba(lighten($background,40%), 0.9);
  }

  hr {
    border-top-color: darken($border, 10%);
  }

  h1, h2, h3, h4, h5, h6,
  strong {
    color: $color;
    font-weight: $font-weight-bold;
  }
}

@mixin note-variant-before($background, $border, $color, $before) {
  @include note-variant($background, $border, $color);
  @if $before {
    &::before {
      display: flex;
      align-items: right;
      text-align: right;
      float: left;
      position: relative;
      top: -$note-padding-y*2;
      left: -$spacer*1.667;
      height: 0;
      /*
      display: flex;
      */
      content: $before;
      //margin-left: -$spacer*2;
      color: rgba(darken($color, 10%), 0.9);
      font: $font-weight-bold (2 * $font-size-base / 1) $font-family-serif;
    }
  }
}
