@mixin note-variant($background, $border, $color) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;
  line-height:1.5em;
  @include box-shadow(0 .25rem .5rem rgba($border, .5));

  hr {
    border-top-color: darken($border, 10%);
  }

  .note-link,
  a {
    color: darken($color, 20%);
  }
}

@mixin note-variant-before($background, $border, $color, $before) {
  @include note-variant($background, $border, $color);
  @if $before{
    &::before {
      display: flex;
      align-items: center;
      height: 0;
      content: $before;
      margin-left: -1.66em;
      //font: 400%/1 Cochin,"Times New Roman", serif;
      font-size: 2.5*$font-size-base;
      font-weight: $font-weight-bold;
      color: rgba(darken($color, 20%),0.8);
    }
  }
}
