.fade {
  transition: opacity 0.15s linear;
}
@media screen and (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.collapsable {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  margin-bottom: 1rem;
  background: #fff linear-gradient(180deg, white, #fff) repeat-x;
  background-clip: border-box;
  border: 1px solid rgba(36, 41, 46, 0.4);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(36, 41, 46, 0.5);
}

.collapsable-toggle {
  justify-content: flex-end;
}
.collapsable-toggle, .collapsable-toggle p, .collapsable-toggle label {
  margin: 0;
  padding: 0;
}
.collapsable-toggle p {
  display: flex;
}
.collapsable-toggle label {
  margin-right: 1rem;
}

.collapsable-body {
  flex: 1 1 auto;
  padding-left: 0.5rem;
}

.btn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.btn-toggle + .btn-toggle-lbl {
  display: block;
  position: relative;
  cursor: pointer;
}

input.btn-toggle-round-flat + .btn-toggle-lbl {
  padding: 1px;
  width: 2.5rem;
  height: 1.25rem;
  background-color: rgba(81, 92, 103, 0.6);
  border-radius: 1.25rem;
  transition: background 0.4s;
}
@media screen and (prefers-reduced-motion: reduce) {
  input.btn-toggle-round-flat + .btn-toggle-lbl {
    transition: none;
  }
}

input.btn-toggle-round-flat + .btn-toggle-lbl:before, input.btn-toggle-round-flat + .btn-toggle-lbl:after {
  display: block;
  position: absolute;
  content: "";
}

input.btn-toggle-round-flat + .btn-toggle-lbl:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1.25rem;
  transition: background 0.4s;
}
@media screen and (prefers-reduced-motion: reduce) {
  input.btn-toggle-round-flat + .btn-toggle-lbl:before {
    transition: none;
  }
}

input.btn-toggle-round-flat + .btn-toggle-lbl:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 1.075rem;
  background-color: rgba(81, 92, 103, 0.6);
  border-radius: 1.25rem;
  transition: margin 0.4s, background 0.4s;
}
@media screen and (prefers-reduced-motion: reduce) {
  input.btn-toggle-round-flat + .btn-toggle-lbl:after {
    transition: none;
  }
}

input.btn-toggle-round-flat:checked + .btn-toggle-lbl {
  background-color: #336622;
}

input.btn-toggle-round-flat:checked + .btn-toggle-lbl:after {
  margin-left: 1.25rem;
  background-color: #336622;
}
