{%- comment -%}
Usage: {% include collapse.html content=collapse_content id="ID" %},
where 'collapse_content' is a capture with the content
and 'id'' is an unique identifier of the 
{%- endcomment -%}
{%- assign css_class = include.type | default: "info" -%}
{%- assign id = include.id | default: "" -%}
{%- assign label = include.label | default: "Toggle" -%}
{%- assign icon ='<i class="fas fa-toggle-on"></i>'-%}


<div class="collapsable"  markdown="block">
<div class="nav collapsable-toggle align-middle"><label class="btn-lbl" for="btn-toggle-{{id}}">{{label}}</label><input id="btn-toggle-{{id}}" class="btn-toggle btn-toggle-round-flat" type="checkbox" data-toggle="collapse" data-target="#collapse-{{id}}" aria-expanded="false" aria-controls="collapse-{{id}}">
<label class="btn-toggle-lbl" for="btn-toggle-{{id}}"></label>
</div>
<div class="collapse collapsable-body" id="collapse-{{id}}"  markdown="1">
{{- include.content | markdownify -}}
</div>
</div>

