<!--sidebar -->
<div class="sidebar sidebar-left">
  <nav class="navbar sidebar-nav">
    <ul class="nav lit-group sidebar-nav-list">
    {%for d in site.docs %}
    {%-assign active= ''-%}
    {%-if page.url==d.url-%}{%-assign active= 'active'-%}{%endif%}
    {%if d.collection_details  %}
      {%capture collection_details%}
      <div class="d-none d-sm-block sidebar-item-details">
      <p class="text-muted">{{d.description | default: d.excerpt}}</p>
      {%-if d.github-%}
      <p class="text-muted sticky-bottom">Get the project on <a href="{{d.github}}"><i class="fab fa-fw fa-github"aria-hidden="true"></i>GitHub</a>
        <ul class="d-none d-xl-flex nav download">
          <li class="col-4 nav-item"><a href="{{d.github}}/zipball/master"><strong><i class="fas fa-download"aria-hidden="true"></i> <span class="sr-only">Download</span> <i class="fas fa-file-archive"aria-hidden="true"></i> ZIP-File</strong></a></li>
          <li class="col-4 nav-item"><a href="{{d.github}}/tarball/master"><strong><i class="fas fa-download"aria-hidden="true"></i> <span class="sr-only">Download</span> <i class="fas fa-file-archive"aria-hidden="true"></i> TAR-File</strong></a></li>
          <li class="col-4 nav-item"><a href="{{d.github}}/tarball/master">Explore  <strong><i class="fab fa-fw fa-github"aria-hidden="true"></i><span class="sr-only">GitHub</span></strong></a></li>
        </ul>
      </p>
      {%-endif-%}
      </div>
      {%endcapture%}
    {%endif%}
      {%-assign d_t= d.excerpt| default: d.title | markdownify | strip_html | strip_newlines | escape_once-%}
      <li class="sidebar-item"><a class="sidebar-link {{active}}" href="{{d.url}}" title="{{d_t}}">{{d.title}}</a>
      {% assign dc = site.collections | where: "label", d.subcollection |first %}
      {%capture subnav_docs%}
      {%-assign dd-group= ''-%}
      {%-assign dd-lst=''%}
      {%for dd in dc.docs %}
        {%- if dd-lst contains dd.url-%}{%continue%}{%-endif-%}
        {%- if dd-group== '' and dd.group -%}
          {%- assign dd-group=dd.group-%}
          {%- assign dd-group-in= dc.docs| where: "group", dd.group |sort-%}
          {%capture subnav_docs-group %}
          {%for ddg in dd-group-in %}
            {%-assign active= ''-%}
            {%-if page.url==ddg.url-%}{%-assign active='active'-%}{%-endif-%}
            {%-assign ddg_t= ddg.excerpt| default: ddg.title | markdownify | strip_html | strip_newlines | escape_once-%}
              <li class="sidebar-item"><a class="sidebar-link {{active}}" href="{{ddg.url}}" title="{{ ddg_t }}">{{ddg.title}}</a></li>
            {%- assign dd-lst=dd-lst | append: ddg.url| append: '|'%}
          {%-endfor-%}
          {%endcapture%}
          <li class="sidebar-item"><span class="navbar-text sidebar-text {{active}}">{{dd-group}}</span>
          <ul class="sidebar-nav-list">
          {{subnav_docs-group}}
          </ul>
          </li>
          {%-assign dd-group= ''-%}
        {%-else-%}
          {%-assign active= ''-%}
          {%-if page.url==dd.url-%}{%-assign active='active'-%}{%-endif-%}
          {%-assign dd_t= ddg.excerpt| default: ddg.title | markdownify | strip_html | strip_newlines | escape_once-%}
          <li class="sidebar-item"><a class="sidebar-link {{active}}" href="{{dd.url}}" title="{{ dd_t }}">{{dd.title}}</a></li>
        {%-endif-%}
      {%-endfor-%}
      {%endcapture%}
      {%if subnav_docs%}
        {{collection_details}}
        <ul class=" sidebar-nav-list">
        {{subnav_docs}}
        </ul>
      {%endif%}
      </li>
    {%endfor%}
    </ul>
  </nav>
</div>
<!-- end sidebar -->
