//Site footer
.footer-info,
.footer-social,
.footer-nav,
.site-footer,
.page-footer{
  &, p{margin: 0;}
}
.site-footer,
.page-footer {
  bottom: 0;
  margin-top: $spacer;
  padding: 0 $spacer;
  font-size: $font-size-foot!important;
  @include make-row();

  justify-content: space-between !important;
  align-items: flex-start;
  flex-shrink: 0;
}
.site-footer{
  //position: absolute;
  @supports (position: sticky) {
    position: sticky;
    bottom: 0;
    z-index: 99;
  }
  @include media-breakpoint-up(md) {
    height: $site-footer-height;
  }
  margin-bottom: 0;
  justify-content: space-between !important;
  align-items: flex-start !important;

  color: rgba($main-color-fg,0.6);
  background-color: rgba(darken($main-color-bg,20%),.8);
  border-top: 2px solid darken($main-color-bg,80%);

  & a {
    color: lighten($main-color-fg, 60%);
    @include transition($link-transition);
  }
  & a:hover {
     color: $accent;
     background-color: transparent;
  }
}
.footer-nav {
  list-style-type: none;
  padding: $spacer/4 0;
  li .fa {
    padding-right: 5px;
  }
}

.footer-social{
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }

  justify-content: flex-end !important;

  .footer-nav, .footer-rate {
    @include make-row() ;
    justify-content: flex-end !important;
  }
  .footer-nav {
    //@include make-col-ready();
    @include media-breakpoint-up(sm) {
      font-size: $font-size-small;
    }
  }
  .nav-link-item{ margin: 0 $spacer/4;}
}
.page-footer,
.docs-footer{
  align-items: center!important;
  padding: $spacer/4;
  color: rgba(lighten($main-color-bg, 10%),.9);
  background-color: rgba($main-color-fg,.6);
  @include gradient-bg($main-color-fg);
  @include border-radius($border-radius);
}
