// Site/Page Masthead (banner)
.masthead {
  margin-bottom: $spacer / 2;
  padding: $spacer/2 $spacer;
  line-height: 1.5;
  vertical-align: middle;

  @include gradient-bg($masthead-bg);
  @include box-shadow($masthead-box-shadow);

  @include media-breakpoint-up(md) {
    height: $masthead-height;
  }
  @include make-row();
  align-items: center;
  justify-content: space-between;
  
  align-items: flex-start;
  flex-shrink: 0;
  header{
    .site-title{
      font-size:  1.5rem;
      font-weight: 800;
      vertical-align: middle;
    }
  }
  &,a {
    color: $masthead-fg;
    @include transition($link-transition);
    font-weight: bolder;
  }
  a:hover {
    color: mix($link-hover-color-accent, $masthead-fg, 25%) ;
    background-color: transparent;
  }
}
.masthead-navbar{
  position: relative;
  & nav{
    width: 100%;
    justify-content:flex-end!important; 
  }
}

