// stylelint-disable declaration-no-important, selector-list-comma-newline-after

// Blockquotes
.blockquote,
.note {
  p, footer {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.blockquote {
  max-width: 80%;
  margin: ($spacer / 2) ($spacer * 2) $spacer $spacer;
  padding-left: $spacer / 2;
  border-left: 0.5rem solid $blockquote-color;
  font-size: $blockquote-font-size;

  p, footer {
    font-size: $blockquote-font-size * 0.975;
  }

  @include hover-focus {
    border-left-color: rgba(darken($blockquote-color, 20%), 0.6);
  }
  &::before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -.95em;
    font: italic 400% / 1 $font-family-serif;
    color: rgba($blockquote-color, 0.8);
  }
}

/// Notes
@import "mixins/note";

.note {
  @include make-note($note-margin-bottom, $note-padding-x, $note-padding-y, $note-border-width,$note-border-radius);
  @include note-variant(rgba(lighten($note, 40%), 0.4), darken($note, 20%), $note);
}
body{
  counter-reset: issue example;
}
.issue {
  counter-increment: issue;
  @include make-note($note-margin-bottom, $note-padding-x, $note-padding-y, $note-border-width,$note-border-radius);
  @include note-variant(rgba(lighten($issue, 55%), 0.8), darken($issue, 20%), $issue);

  overflow: auto;

  &::before, & > .marker {
    text-transform: uppercase;

    /* content: "Issue " counter(issue) " ";*/
  }
}

.example {
  counter-increment: example;
  @include make-note($spacer / 2, $spacer / 2, $spacer / 4, 0.5rem,$note-border-radius);
  @include note-variant(rgba(lighten($example, 40%), 0.6), darken($example, 20%), $example);
  border-style: none;
  border-left-style: solid;
  overflow: auto;
  clear: both;

  &::before, & > .marker {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    content: "Example " counter(example) " ";
  }
  pre,
  .highlight{
    background-color: rgba(lighten($example, 60%), 0.6);
  }
}

.info {
  @include note-variant-before(rgba(lighten($info, 55%), 0.8), darken($info, 20%), $info, "ⓘ");
}

.warning {
  @include note-variant-before(rgba(darken($warning, 20%), 0.8), darken($warning, 20%), lighten($warning, 98%), "‼");
  font-weight: 500;
}

.disclaimer,
.important {
  @include note-variant-before(rgba(lighten($disclaimer, 55%), 0.8), darken($disclaimer, 20%), $disclaimer, "‼");
}

.danger {
  @include note-variant-before(rgba(lighten($danger, 55%), 0.8), darken($danger, 20%), $danger, "⚠");
}

.success {
  @include note-variant-before(rgba(lighten($success, 55%), 0.8), darken($success, 20%), $success, "★");
}
