.sidebar {
  @include clearfix;

  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }

  > * {
    margin: $spacer/2 auto ;
  }

  p,
  li {
    line-height: 1.5;
  }
}

.sidebar-left {
  @include media-breakpoint-down(md) {
    position: relative;
    font-size: 90%;

    @supports (transform-style: preserve-3d) {
      transform: translate3d(0, 0, 0);
    }
    @include make-row;
  }

  @supports (position: sticky) {
    position: sticky;
    top: $spacer;
    z-index: 999;
    height: calc(100vh - #{$sidebar-top});
    overflow-y: auto;
  }

  border-right: 1px solid rgba($main-color-bg, 0.2);
}

.sidebar-nav {
  @supports (position: sticky) {
    overflow-y: auto;
  }

  background: rgba($body-bg, 0.4);

  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }
  @include media-breakpoint-down(md) {
    @include make-col-ready;
  }
}

.sidebar-right {
  @supports (position: sticky) {
    position: sticky;
    top: 1rem;
    float: right;
    z-index: 1000;
    overflow-y: auto;
  }
}

.sidebar-nav-list {
  padding: 0;
  * ul {
    font-size: 95%;
    margin: 0 0 ($spacer / 4) ($spacer / 2);
    justify-content: end;
  }
}

.sidebar-item {
  list-style: none;
  position: relative;
  margin: 0;
  .active {
    font-weight: bolder;
  }
}
.sidebar-item-details{
  p,
  ul {  
    font-size: 80%;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .download {
    background-color: rgba($download-bg,.2);
    @include gradient-bg($download-bg);
    @include border-radius($btn-border-radius);
    @include box-shadow($box-shadow);
    @include transition($link-transition);
    li{
      border-right: 1px solid $primary;
      padding:0;
      text-align: center;
      vertical-align: middle;
    }
    li+li{
      border-left: 1px solid $primary;
    }
    li+li+li{
      border-right:none;
    }
    
    a{
      color:$download-fg;
      display: block;
      padding: 2px 0;
    }
  }
}
.sidebar-text{
  color: lighten($nav-link-color,20%);
  font-weight: $font-weight-bold;
  text-transform: capitalize;
}
.sidebar-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  color: $nav-link-color;
  text-decoration: none;

  @include transition($link-transition);
  @include hover-focus-active {
    color: $link-hover-color-accent;
    font-weight: $font-weight-bold;
  }
  
  @include media-breakpoint-up(xl) {
    &.active::after{
      content: "►";
    }
  }
}
