.sidebar {
  @include clearfix;

  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }


  > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p,
  li {
    line-height: 1.5;
  }
}

.sidebar-left {
  font-size: $font-size-base;

  @include media-breakpoint-down(md) {
    position: relative;

    @supports (transform-style: preserve-3d) {
      transform: translate3d(0, 0, 0);
    }

    font-size: $font-size-small;

    @include make-row;
  }


  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: $spacer;
      z-index: 999;
      height: calc(100vh - #{$sidebar-top});
      overflow-y: auto;
    }

    border-right: 1px solid rgba($main-color-bg, 0.2);
  }
}

.sidebar-nav {
  @supports (position: sticky) {
    overflow-y: auto;
  }

  background: rgba($body-bg, 0.4);

  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }


  @include media-breakpoint-down(md) {
    @include make-col-ready;
  }
}

.sidebar-right {
  @supports (position: sticky) {
    position: sticky;
    top: 1rem;
    float: right;
    z-index: 1000;
    overflow-y: auto;
  }
}

.sidebar-nav-list {
  * ul {
    margin: 0 0 ($spacer / 4) ($spacer / 2);
  }

  padding: 0;

  @include media-breakpoint-down(md) {
    @include make-col(11);
  }
}

.sidebar-item {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;

  &:not(:last-child) {
    border-bottom: 1px solid $nav-link-color;
  }
  .active {
    font-weight: $font-weight-bold;
  }
  p,
  .download {  
    font-size: $font-size-footnote;
    font-weight: normal;
  }
  
  p{margin-bottom: $spacer/4;}
  
  .download {
    font-size: $font-size-footnote;
    margin:0 0 $spacer 0;
    padding:0;
    background-color: rgba($download-bg,.2);
    @include gradient-bg($download-bg);
    @include border-radius($btn-border-radius);
    @include box-shadow($box-shadow);
    @include transition($link-transition);
    li{
      border-right: 1px solid $primary;
      text-align: center;
      vertical-align: middle;
    }
    li+li{
      border-left: 1px solid $primary;
    }
    li+li+li{
      border-right:none;
    }
    
    a{
      color:$download-fg;
      display: block;
      padding: $spacer/4 0;
    }
  }
}

.sidebar-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  color: $nav-link-color;
  text-decoration: none;

  @include transition($link-transition);
  @include hover-focus-active {
    color: $link-hover-color-accent;
    font-weight: $font-weight-bold;
  }
  
  @include media-breakpoint-up(xl) {
    &.active::after{
      content: "►";
    }
  }
}
