.page-toc{
  color: $toc-color;
  background-color: $toc-bg;
  border: 1px solid $toc-border;
  @include border-radius($toc-border-radius);
  @include box-shadow(0 .25rem .5rem rgba($toc-border, .5));
  font-size: $font-size-footnote;

  .toc-title{
    display: block;
    width: 100%;
    color: $toc-bg;
    background:  $toc-color;
    font-weight: $font-weight-bold;
  }
}

.nav-toc{
  width: 100%;
  line-height: 1.5;
  &,* ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a{
    display: block;
    padding: 0 .5rem;
    color: $text-muted;
    @include transition($link-transition);
    @include hover-focus{
      color: $accent;
      background: rgba(lighten($toc-border,40%),.6);
    }
  }
  //ul li { border-bottom:  1px solid rgba(lighten($toc-border,20%),.8);}
  li ul > li a{
    padding-left: 1rem;
    font-size: 90%;
    font-weight: normal;
  }
  li ul li ul> li a{
    padding-left: 1.5rem;
  }
}
