// stylelint-disable declaration-no-important, selector-list-comma-newline-after

// Blockquotes
.blockquote,
.note {
  p, footer {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.blockquote {
  max-width: 80%;
  margin: ($spacer / 2) ($spacer * 2) $spacer $spacer;
  padding-left: $spacer / 2;
  border-left: 0.5rem solid $main-color-fg;
  font-size: $blockquote-font-size;

  p, footer {
    font-size: $blockquote-font-size * 0.975;
  }

  @include hover-focus {
    border-left-color: $main-color-bg;
  }

  &::before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -.95em;
    font: italic 400% / 1 $font-family-serif;
    color: rgba($main-color-bg, 0.6);
  }
}

/// Notes
@import "mixins/note";

.note {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;

  @include note-variant(rgba(lighten($note, 40%), 0.4), darken($note, 20%), $note);
  @include border-radius($alert-border-radius);

  font-size: $font-size-footnote;

  h2, h3, h4, h5, h6 {
    font-size: $font-size-footnote;
    font-weight: $font-weight-bold;
    color: inherit;
  }
}

.info {
  @include note-variant-before(rgba(lighten($info, 55%), 0.8), darken($info, 20%), $info, "ⓘ");
}

.warning {
  @include note-variant-before(rgba(darken($warning, 20%), 0.6), darken($warning, 20%), lighten($warning,40%), "‼");
}

.important,
.disclaimer {
  @include note-variant-before(rgba(lighten($disclaimer, 55%), 0.8), darken($disclaimer, 20%), $disclaimer, "‼");
}

.danger {
  @include note-variant-before(rgba(lighten($danger, 55%), 0.8), darken($danger, 20%), $danger, "⚠");
}

.success {
  @include note-variant-before(rgba(lighten($success, 55%), 0.8), darken($success, 20%), $success, "★");
}
