// stylelint-disable declaration-no-important, selector-list-comma-newline-after

// Blockquotes
.blockquote{
  max-width: 80%;
  margin: $spacer/2  $spacer*2 $spacer $spacer;
  padding-left: $spacer/2;
  border-left: 0.5rem solid $primary-light;
  font-size: $blockquote-font-size;
  p,footer{
    margin:0;padding:0;
    display: inline-block;
    font-size: ($blockquote-font-size* 0.975);
  }
  @include hover-focus{
    border-left-color: $primary-dark;
  }
  &::before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -.95em;
    font: italic 400%/1 Cochin,"Times New Roman", serif;
    color: rgba($primary-dark,0.6);
  }
}

/// Notes 
@import "mixins/note";
.note{
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
  h2,h3,h4,h5,h6{
    color: inherit;
  }
}

.info{
  @include note-variant(rgba(lighten($info,55%),.8),darken($info,20%),$info,"\24D8");
}
.warning{
  @include note-variant(rgba(lighten($warning,55%),.8),darken($warning,20%),$warning,"\203C");
}

//\2605'
