// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-hover-media-query: false;

// Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true;
$enable-print-styles: false;

// Fonts
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-serif: "TeX Gyre Termes", Times, "Latin Modern Roman", "Computer Modern", serif;
$font-size-small: $font-size-sm;
$font-size-foot: max($font-size-base * 0.85, 0.751rem);
$font-size-footnote: max($font-size-base * 0.86, 0.751rem);
$font-weight-light: 200;
$font-weight-bold: 700;

// Colors
$BlueDark: rgba(#455a64, 1);
$BlueLight: rgba(#607d8b, 1);
$PastelGray: rgba(#ccc, 1);
$Coquelicot: rgba(#f30, 1);
$TurquoiseLight: rgba(#c2ebef, 1);
$CyanLight: rgba(#cff, 1);
$CyanDark: rgba(#3ff, 1);
$Canary: rgba(#ff9, 1);

$Dark: rgba(#212121, 1);
$Light: rgba(#efefef, 0.8);

$primary: rgba($BlueDark, 1);
$secondary: $TurquoiseLight;
$accent: $Coquelicot;
$success: $green;

// accentuation & active

$danger: $Coquelicot;
$light: $Light;
$dark: $Dark;
$download: $BlueLight;
$more: adjust-hue(darken($light, 10%), 25deg);

// Body
$body-bg: $white;
$body-color: $gray-900;
$text-color: $body-color;
$brand-color: $primary;

//Site main color (eg. used in masthead and footer)
$main-color-bg: rgba($BlueDark, 0.8);
$main-color-fg: rgba($Light, 0.8);

//masthead
$masthead-height: 4rem;
$masthead-box-shadow: 0 0.5rem 1rem rgba($main-color-bg, 0.8), inset 0 -1px 0 rgba($main-color-bg, 0.9);

//footer
$site-footer-height: 3rem;

// Sidebar
$sidebar-top: $masthead-height + $site-footer-height + 2*$spacer;

// Links
// Style anchor elements.
$link-color: theme-color("primary");
$link-decoration: none;
$link-hover-color: darken($link-color, 40%);
$link-hover-color-accent: $accent;
$link-hover-decoration: underline;
$link-transition: color 0.5s;

// Components
// Define common padding and border radius sizes and more.
$transition-base: all 0.2s ease-in-out;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;

$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;

// Spacing
$spacer: 2rem;
$spacing-unit: $spacer;
$grid-gutter-width: 1rem;
$nav-sticky-top: 6rem;

// Navbar
$navbar-padding-y: $spacer / 4;
$navbar-padding-x: $spacer / 4;
$navbar-nav-link-padding-x: 0.2rem;
$nav-link-padding-y: 0.25rem;
$nav-link-padding-x: $navbar-nav-link-padding-x;
$nav-link-disabled-color: $gray-600;

// ToC
$toc-color: $primary;
$toc-bg: $body-bg;
$toc-border: $main-color-bg;
$toc-border-radius: $border-radius;

//
// Alerts
// Define alert colors, border radius, and padding.
$alert-padding-y: $spacer / 4;
$alert-padding-x: $spacer / 2;
$alert-margin-bottom: $spacer / 2;
$alert-border-radius: $border-radius !default;
$alert-link-font-weight: $font-weight-bold !default;
$alert-border-width: 2px;

$alert-bg-level: -10 !default;
$alert-border-level: -9 !default;
$alert-color-level: 6 !default;

// blockQuote, note, example
$quote: silver;
$issue: $red;
$example: #e0cb52;
$disclaimer: $orange;

/*$note: #264c72; //blue?*/
$note: #52e052;

/*green?*/

$blockquote-small-color: $gray-600 !default;
$blockquote-font-size: $font-size-base * 0.95;
$blockquote-color: $quote;

// Footnotes
$footnote-rule: 2px solid $BlueDark;
