---
layout: default
toc_label: On this page
---
{%- unless seo_title -%}
{%- assign seo_title = page.title | append: " " | append: title_separator | append: " " | append: site.title -%}
{%- if seo_title -%}{%- assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once -%}{%- endif -%}
{%-endunless-%}
{%- unless seo_description -%}
{%- assign seo_description = page.description | default: page.excerpt | default: site.description -%}
{%- if seo_description -%}{%- assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once -%}{%- endif -%}
{%-endunless-%}
{%assign cdate= page.date_publish| default: page.date_created |default: 'now' %}
{%assign mdate= page.date_lastmod | default: page.last_modified_at| default: cdate %}
<aside class="col-12 col-md-3 col-xl-2 p-O page-leftbar d-print-none">
  {% include sidebar.html %}
</aside>

<main class="col-12 col-md-3 col-xl-10 page-main" >
  <article class="py-2 pl-2 h-entry" itemscope itemtype="https://schema.org/CreativeWork">
    <meta itemprop="headline" content="{{ seo_title }}">
    <meta itemprop="description" content="{{ seo_description}}">
    <meta itemprop="datePublished" content="{{ cdate | date_to_xmlschema }}">
    <meta itemprop="dateModified"  content="{{ mdate | date_to_xmlschema }}">
    
    <header class="entry-header page-header">
      <h1 id="page-title" class="title p-name page-title" itemprop="headline"><a class="u-url" href="{{page.url}}" rel="canonical" title="permalink" itemprop="url"><i class="fas fa-link" aria-hidden="true"></i><span class="sr-only">permalink</span></a>  {{ page.title | smartify}}</h1>
    </header>
    <section  class="page-content" itemprop="text">
    {% if page.toc %}
      <aside class="d-none d-xl-block col-xl-2 sidebar-right d-print-none">
        <nav class="page-toc">
          <header><h7 class="toc-title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: layout.toc_label | default: "" }}</h7></header>
          {% include_cached toc.html sanitize=true html=content h_min=1 h_max=6 class="nav-toc" item_class="nav-toc-item"%}
        </nav>
      </aside>
      <div class="col-12 col-xl-10 px-2 e-content docs-content">
    {%else%}
      <div class="col-12 pl-2 e-content docs-content ">
    {% endif %}
        {{ content }}
      </div>
    </section>

    <footer class="page-footer docs-footer">
      <p class="footer-author p-author h-card">⌨ &copy;<a class="p-name" href="{{site.author.url}}" rel="author">{{page.author| default: site.author.name}}</a></p>
      <p class="docs-date"><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>
      Published on <time  class="dt-published" datetime="{{ cdate | date_to_xmlschema }}">{{ cdate | date: "%B %d, %Y" }}</time>
      {%if mdate > cdate %} and Updated on <time datetime="{{ mdate | date_to_xmlschema }}">{{ mdate | date: "%B %d, %Y" }}</time>{% endif %}</p>
      {%- if page.edit-%}
      <p class="page-edit">This site is open source: improve this page {% github_edit_link "by suggesting edits" %}</p>
      {%- endif -%}
      {%- if page.share-%}{%include social-share.html %}{%- endif -%}
    </footer>

    <!-- include post_pagination.html -->
    {%comment%}jekyll.environment == 'production' and{%endcomment%}
    {% if page.comments %}
    {% include comments.html %}
    {% endif %}
  </article>
</main>
